.ml-12 {
    margin-left: 12px !important;
}

.ml-14 {
    margin-left: 14px !important;
}

.department-name {
    width: 400px;
}

.department-description {
    width: 400px;
}

.ml-24 {
    margin-left: 24px !important;
}

// .department-btn {
//     width: 200px;
// }

// .ant-btn {
//     width: 100%;
// }