@import './styles/normalize.scss';
@import './styles/saccConfig.scss';
@import '~antd/dist/antd.css';

html {
  height: 100%;
}

body {
  height: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
  background-image: url('./assect/login-background.f9f49138.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}